{% extends "base.html" %}

{% block tbody -%}
        {% for item in medias -%}
        <tr>
            <th rowspan="2" class="style49">{{ loop.index }}</th>
            <td class="style49">{{ item.acodec }}</td>
            <td class="style49">{{ item.vcodec }}</td>
            <td class="style49">{{ item.width }} x {{ item.height }}</td>
            <td class="style49">{{ item.extension }}</td>
            <td class="style49">{{ item.size }}Mo</td>
            <td class="style49">{{ item.crc32 }}</td>
        </tr>
        <tr>
            <td class="style51">Lien DDL:</td>
            <td colspan="5"><a href="javascript:void()" class="style49">{{ item.filename }}</a></td>
        </tr>
        {%- endfor %}
{%- endblock %}